* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body {
    font-family: Poppins, sans-serif;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 30px;
    font-weight: 900;
    color: #333;
    transition: 0.5s;
    letter-spacing: 1.5px;
}

header .navbar ul{
    display: flex;
    gap: 20px;
}

header ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: 600;
    transition: 0.5s;
    letter-spacing: 1.5px;
}

header ul li a:hover {
    color: var(--primary-color);
}

header .logo a:hover {
    color: var(--primary-color);
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    border: 2px solid red;
}