* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
    background-color: #fff;
    color: #333;
    padding-top: 150px;
    margin-bottom: 2000px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    color: #333;
    border-bottom: 1px solid #333;
    height: 125px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 0 50px;
}

.header-left {
    display: flex;
    align-items: center;
}

.ian-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.name-logo {
    font-size: 30px;
    font-weight: 900;
    color: #333;
    letter-spacing: 1.5px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    gap: 40px;
}

.navbar ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: 600;
    transition: color 0.15s;
    letter-spacing: 1.5px;
}

.navbar ul li a:hover {
    color: dodgerblue;
}
