* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body {
    font-family: Poppins, sans-serif;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 100px;
}

.website {
    padding: 40px 36px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

header {
    margin-bottom: 50px;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    max-width: 1200px;
    color: #333;
    margin: 0 auto;
    
}

.header-left img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.header-right {
    display: flex;
    flex-direction: column;
}

.navbar ul{
    display: flex;
    gap: 40px;
}

header ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: 600;
    transition: 0.5s;
    letter-spacing: 1.5px;
}

header ul li a:hover {
    color: var(--primary-color);
}

header .logo a:hover {
    color: var(--primary-color);
}

.logo {
    font-size: 30px;
    font-weight: 900;
    color: #333;
    transition: 0.5s;
    letter-spacing: 1.5px;
    margin-bottom: 8px;
}

.hero {
    max-width: 1200px;
    margin: 0 auto;
}